
@import "_helpers.less";

@import "_form.less";

@import "_typo.less";

@import "_main.less";

@import "_preloader.less";

@import "_repo.less";

@import "_button.less";

@import "_url-box.less";

@import "_menu.less";

@import "_admin.less";

@import "_user_info.less";


.current_branch {
    width: 200px;
}

.current_branch_select_holder {
    margin: 10px 0;
}

@import "_source.less";

@import "_breadcrumbs.less";

@import "_commits.less";

@import "_pull_request.less";

.help {
    background-color: #fcefa1;
    border: 2px solid #dcdcdc;
}

#lift__noticesContainer___error , .error {
    border: 1px solid #cd0a0a;
    background: #fef1ec;
    color: #cd0a0a;
    .border-radius;
    padding: 10px;

    margin: 10px 0;
    display: block;
}

#lift__noticesContainer___error ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
