<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <filter>
        <filter-name>LiftFilter</filter-name>
        <filter-class>net.liftweb.http.LiftFilter</filter-class>
    </filter>

    

    <filter-mapping>
        <filter-name>LiftFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

     <filter>
        <filter-name>BasicAuthFilter</filter-name>
        <filter-class>daemon.http.BasicAuthFilter</filter-class>
        <init-param>
          <param-name>realm</param-name>
          <param-value>smart-http-luna-git</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>BasicAuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>

    <servlet>
        <servlet-name>LunaGitServlet</servlet-name>
        <servlet-class>daemon.http.LunaGitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LunaGitServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
